 
/* decide if I want all of the bodies a different colour or to just change shades of grey through the website */
/* decide if I want to center the headings but keep the text justified */
 body {
    background-color:#F6EDE1;
}
 h2,h3 {
    color: #252628;
}
 h1 {
    color: #252628;
}
 p {
    color: #444343;
}
 p {
    color: #444343;
     text-align: justify;
     font-size: 14pt;
}
 li {
    color: #7E3517;
     text-align: justify;
     font-size: 14pt;
}
 body {
    font-family: "papyrus", Verdana, "Arial Narrow", sans-serif;
}
 #Top {
    text-align: center;
     color: #228B22;
}
 #Orderofdeaths {
    text-align: center;
    color: red;
}
 .center {
    text-align: center;
    color: red;
}
 p.color {
    text-align: center;
    color: red;
}
 h2,h3 {
    text-align: center;
     color: #252628;
}
 .topnav {
     background-color: #252628;
     overflow: hidden;
}
 .topnav a {
     float: left;
     color: #F6EDE1;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
}
 .topnav a:hover {
     background-color: #252628;
     color: #F6EDE1;
}
 .topnav a.active {
     background-color: #444343;
     color: #F6EDE1;
}
 .column {
    float: right;
    width: 50%;
    padding: 1px;
}
 